#projects {

}
.img-container {
  background-color: rgba(122, 121, 121, 0.541);
  border-radius: 16px;
  position: relative;
  box-shadow: -2px 3px 4px -2px rgba(0, 0, 0, 0);
}
.project-img {
  height: 300px;
  border-radius: 16px;
}
.img-container::after {
  top: 0;
  left: 0;
  content: " ";
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.25;
  display: none;
  border-radius: 16px;
  transition: all 10s;
}
.img-container:hover {
  transform: scale(1.07);
}
.img-container:hover::after {
  display: block;
}
.github-logo {
  height: 44px;
  width: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  fill: #3d83c1;
}
.github-logo:hover,
.github-logo2:hover,
.github-logo3:hover,
.github-logo4:hover {
  fill: greenyellow;
  cursor: pointer;
}
.github-logo2 {
  height: 44px;
  width: 44px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 3;
  fill: #3d83c1;
}

.github-logo3 {
  height: 44px;
  width: 44px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 3;
  fill: #3d83c1;
}

.github-logo4 {
  height: 44px;
  width: 44px;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 3;
  fill: #3d83c1;
}
.demo-logo {
  height: 44px;
  width: 44px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 3;
  fill: #3d83c1;
}

.demo-logo:hover {
  fill: greenyellow;
  cursor: pointer;
}
