#about {
  text-align: justify;
  position: relative;
}

#about::after {
  content: url(/src/assets/left-peep.png);
  position: absolute;
  left: 0;
  top: 5%;
}

.sub-title {
  padding: 2rem 4rem;
  text-align: center;
  position: relative;
  color: #3d83c1;
  font-size: 4rem;
  padding-top: 3rem;
  margin-bottom: 2rem;
}
.sub-title2 {
  padding: 2rem 4rem;
  text-align: center;
  position: relative;
  color: #3d83c1;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.sub-title::after,
.sub-title2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 16rem;
  height: 4px;
  margin-left: -8rem;
  background-color: #3d83c1;
}

@media (max-width: 557px) {
  .sub-title {
    font-size: 55px
  }
  
}