@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.toast {
  position: absolute;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.toast-header {
  background-color: #D9FFED;
  color: #7C848B;
  border-bottom: none;
}

.toast-body {
  background-color: #00FF84;
  color: #212529;
}
